NEXT_PUBLIC_SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
SOLANA_HELIUS_RPC_URL=https://mainnet.helius-rpc.com/?api-key=YOUR_HELIUS_API_KEY
SOLANA_HELIUS_API_KEY=YOUR_HELIUS_API_KEY
NEXT_PUBLIC_OMNIX_MINT=YOUR_TOKEN_MINT_ADDRESS
NEXT_PUBLIC_OMNIX_DECIMALS=6
NEXT_PUBLIC_API_URL=http://localhost:3000/api
NEXT_PUBLIC_WS_URL=ws://localhost:3000
BIRDEYE_API_KEY=YOUR_BIRDEYE_API_KEY
NEXT_PUBLIC_BIRDEYE_API=https://api.birdeye.so
NEXT_PUBLIC_JUPITER_API=https://quote-api.jup.ag
